*.pyc
.ipynb_checkpoints/Untitled-checkpoint.ipynb
Untitled.ipynb
XDATCAR_1
.ipynb_checkpoints/test-checkpoint.png
test.png
video.mp4
crystal_video_maker/test.py
optimized.ipynb
test.py
crystal_video_maker/utils_removed.py
structures.mp4
XDATCAR
.ipynb_checkpoints/optimized-checkpoint.ipynb
doc.md
